.block{
  border: 5px solid black;
    margin: 100px;
}
.goNext{
  align-self: center;
}
.TextInput,.dictionarySelection{
  text-align: center;
  margin: 10px;
}
.goNextButton
{
  margin-left: 500px;
  margin-top: -100px;
}
